@{
    ViewData["Title"] = "Home";
}
<body>
    <h1>Popular Eateries</h1>
    <p id="counter"></p>
    <form name="form" method="post">
        <input id="page" type="text" name="page" value="">

        
    </form>


    <div><h3 id="root"></h3></div><br />




    <script src="~/js/site.js" asp-append-version="true">restaurantSelectPage();</script>
    <script>
            restaurantSelectPage(this.form)
    </script>
</body>